<div ng-controller="CanvasEditorController" ng-init="init()">
    <div>
        <div>{{canvas.name}}</div>
        <table>
            <tr>
                <td>
                    <canvas id="workingCanvas" width="{{canvas.width}}" height="{{canvas.height}}" class="canvasEditor shadow" ng-mousemove="mousemove($event)" ng-mouseup="mouseup($event)" ng-mousedown="mousedown($event)" ng-mouseleave="mouseup($event)" oncontextmenu="return false;">
                    </canvas>
                </td>
                <td>
                    <table>
                        <tr ng-repeat="row in palette.colorRow">
                            <td ng-repeat="color in row.color">
                                <canvas ng-if="color == selectedColor" style="width: 50px; height: 50px; background-color: {{color}}" class="shadow"></canvas>
                                <canvas ng-if="color != selectedColor" style="width: 50px; height: 50px; background-color: {{color}}" ng-click="selectColor(color)"></canvas>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div><a href="#/canvasList">Wróć</a></div>
    </div>
</div>